extends ../layouts/common.pug
block content
	.container.d-flex.justify-content-center.align-items-center
		.wrapper.mt-5.p-5.border.border-success.w-50(style="background-color: #f5f9ff")
			h1(class="text-center")
				span(class="badge w-100 badge-success") Create a new user

			if errors
				each error in errors
					.alert.alert-danger= error
			form(action="/users/create", method="POST")
				label(for="name", class="d-block font-weight-bold mt-5") Name
				input#name(name="name", type="text", class="form-control mb-3 mr-3 w-75 d-inline", value=values ? values.name:'')
				
				label(for="phone", class="d-block font-weight-bold m-0") Phone
				input#phone(name="phone", type="text", class="form-control mb-3 mr-3 w-75 d-inline", value=values ? values.phone:"")
				button(class="btn btn-success mb-2 mr-2") Create Phone
